tablename.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Apr 24 2017 20:13:27 GMT+0200 (Egypt Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="table">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="row" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>                                             <xs:element name="Student_Name" type="xs:string"></xs:element>                                             <xs:element name="GPA" type="xs:string"></xs:element>                                             <xs:element name="ID" type="xs:string"></xs:element> </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>